*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
  }

 .nav{
    height: 75px;
    width:100%;
    background-color:#E59866;
    line-height: 15px;
    padding: 0px;
    position: fixed;
    border-radius: 20px;

 }
 .logo h1{
    font-size: 30px;
    color: whitesmoke;
    padding: 20px 20px;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
 }
 .nav ul{
    float: right;
}
.nav ul li {
    display: inline-block;
    padding: 18px 20px;
}
.nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
.nav ul li a:hover{
    color: #8E44AD;
    transition: all 0.4s ease 0s;
    text-decoration:underline;
}